<%!
  from r2.lib.template_helpers import static
%>

<header class="reddit-donate-header md-container">
  <div class="header-content md">
    <h2>reddit donate</h2>
    <div class="subtitle">giving 10% back</div>

    <%
    blog_post_url = "http://www.redditblog.com/2014/02/decimating-our-ads-revenue.html"
    eligible_date_str = g.plugins['donate'].eligible_date_str
    %>

    <p><strong>voting has ended!</strong>&#32;The winners will be announced some
    time tomorrow (February&nbsp;26,&nbsp;2015) on the
    &#32;<a href="https://twitter.com/reddit">reddit Twitter account.</a></p>
  </div>
</header>
