<%!
  import simplejson
%>

<header class="reddit-donate-header md-container">
  <div class="header-content md">
    <h2>reddit donate</h2>
    <div class="subtitle">giving 10% back</div>

    <%
    blog_post_url = "http://www.redditblog.com/2014/02/decimating-our-ads-revenue.html"
    launch_date = "February 16, 2015"
    %>

    %if not c.user_is_loggedin:
      <p>
        you must&#32;<a class="login-required">log in</a>&#32;<em>and</em>&#32;your account must be created&#32;<strong>before ${launch_date}</strong>
        &#32;to participate in the voting process!
      </p>
      <p>
        check out the&#32;<a href="${blog_post_url}">announcement blog post</a>&#32;
        and&#32;<a href="/r/redditdonate">join the discussion on reddit.</a>
      </p>
    %elif thing.eligible:
      <p>
        use the field below to find charities to vote on for
        &#32;<a href="${blog_post_url}">reddit’s decimation giveaway.</a>
      </p>
      <p>
        you may vote for as many charities as you want!
        &#32;<a href="/r/redditdonate">join the discussion on reddit.</a>
      </p>
    %else:
      <p>
        sorry, but&#32;<strong>your account is not old enough</strong>&#32;to participate! Only accounts created&#32;<em>before</em>&#32;the
        &#32;<a href="${blog_post_url}">announcement blog post</a>&#32;are
        eligible to vote for charities.
      </p>
      <p>
        you can still participate by &#32;<a href="/r/redditdonate">joining
        the discussion on reddit!</a>
      </p>
    %endif

    <div class="background-snoos-graphic"></div>
    <div id="reddit-donate-counter">
      ## react mount point for nomination counter
    </div>
    <div class="foreground-snoos-graphic"></div>
  </div>
</header>

<div class="reddit-donate-body">
  <div id="reddit-donate-search">
    ## react mount point for search input
  </div>
  <div id="reddit-donate-display">
    ## react mount point for search results
  </div>
</div>

<footer class="reddit-donate-footer md-container">
  <div class="footer-content md">
    <p>in partnership with
      &#32;<a href="http://www.charitynavigator.org/" target="_blank">Charity Navigator</a>.
    </p>
    <p>can’t find your favorite charity?
      &#32;<a href="/r/redditdonate/wiki/charity-navigator">find out why</a>
    </p>
  </div>
</footer>
