<%!
  from r2.lib.template_helpers import static
%>

<header class="reddit-donate-header md-container">
  <div class="header-content md">
    <h2>reddit donate</h2>
    <div class="subtitle">giving 10% back</div>

    <p><strong>we have our winners!</strong>&#32;after 250,000+ votes cast on 8,000+
    charities by 80,000+ voters, the top 10 charities are:</p>
  </div>

  <div class="reddit-donate-winners">
    <div class="reddit-donate-winner">
      <a href="https://www.eff.org/">
        <img class="reddit-donate-winner-avatar" src=${static('donate-winners/eff.png')} />
        <span class="reddit-donate-winner-name">Electronic Frontier Foundation</span>
      </a>
    </div>

    <div class="reddit-donate-winner">
      <a href="http://www.plannedparenthood.org/">
        <img class="reddit-donate-winner-avatar" src=${static('donate-winners/plannedParenthood.png')} />
        <span class="reddit-donate-winner-name">Planned Parenthood Federation of America</span>
      </a>
    </div>

    <div class="reddit-donate-winner">
      <a href="http://www.doctorswithoutborders.org/">
        <img class="reddit-donate-winner-avatar" src=${static('donate-winners/doctorsWithoutBorders.png')} />
        <span class="reddit-donate-winner-name">Doctors Without Borders, USA</span>
      </a>
    </div>

    <div class="reddit-donate-winner">
      <a href="https://www.erowid.org/">
        <img class="reddit-donate-winner-avatar" src=${static('donate-winners/erowid.png')} />
        <span class="reddit-donate-winner-name">Erowid Center</span>
      </a>
    </div>

    <div class="reddit-donate-winner">
      <a href="https://wikimediafoundation.org/">
        <img class="reddit-donate-winner-avatar" src=${static('donate-winners/wiki.png')} />
        <span class="reddit-donate-winner-name">Wikimedia Foundation</span>
      </a>
    </div>

    <div class="reddit-donate-winner">
      <a href="http://www.maps.org/">
        <img class="reddit-donate-winner-avatar" src=${static('donate-winners/MAPS.png')} />
        <span class="reddit-donate-winner-name">Multidisciplinary Association for Psychedelic Studies</span>
      </a>
    </div>

    <div class="reddit-donate-winner">
      <a href="http://www.npr.org/">
        <img class="reddit-donate-winner-avatar" src=${static('donate-winners/npr.png')} />
        <span class="reddit-donate-winner-name">NPR</span>
      </a>
    </div>

    <div class="reddit-donate-winner">
      <a href="http://www.fsf.org/">
        <img class="reddit-donate-winner-avatar" src=${static('donate-winners/fsf.png')} />
        <span class="reddit-donate-winner-name">Free Software Foundation</span>
      </a>
    </div>

    <div class="reddit-donate-winner">
      <a href="http://ffrf.org/">
        <img class="reddit-donate-winner-avatar" src=${static('donate-winners/ffrf.png')} />
        <span class="reddit-donate-winner-name">Freedom From Religion Foundation</span>
      </a>
    </div>

    <div class="reddit-donate-winner">
      <a href="https://www.torproject.org/">
        <img class="reddit-donate-winner-avatar" src=${static('donate-winners/tor.png')} />
        <span class="reddit-donate-winner-name">Tor Project Inc.</span>
      </a>
    </div>
  </div>
</header>

<footer class="reddit-donate-footer md-container">
  <div class="footer-content md">
    <p>Every winning charity will receive a donation in the amount 
    of&#32;<strong>$82,765.95</strong>&#32;from reddit.</p>
    <p>Congratulations to all the winners, and big thanks to all the reddit
    users who voted, and to Charity&nbsp;Navigator!</p>
  </div>
</footer>
