<%!
  import simplejson

  from r2.lib.template_helpers import static
%>

<header class="reddit-donate-header md-container">
  <div class="header-content md">
    <h2>reddit donate</h2>
    <div class="subtitle">giving 10% back</div>

    <%
    blog_post_url = "http://www.redditblog.com/2014/02/decimating-our-ads-revenue.html"
    eligible_date_str = g.plugins['donate'].eligible_date_str
    %>

    %if not c.user_is_loggedin:
      <p>
        you must&#32;<a class="login-required">log in</a>
        %if eligible_date_str:
          &#32;<em>and</em>&#32;your account must be created&#32;<strong>before ${eligible_date_str}</strong>
        %endif
        &#32;to participate in the voting process!
      </p>
      <p>
        check out the&#32;<a href="${blog_post_url}">announcement blog post</a>&#32;
        and&#32;<a href="/r/redditdonate">join the discussion on reddit.</a>
      </p>
    %elif thing.eligible:
      <p>
        use the field below to find charities to vote on for
        &#32;<a href="${blog_post_url}">reddit’s decimation giveaway.</a>
      </p>
      <p>
        you may vote for as many charities as you want!
        &#32;<a href="/r/redditdonate">join the discussion on reddit.</a>
      </p>
    %else:
      <p>
        sorry, but&#32;<strong>your account is not old enough</strong>&#32;to participate! Only accounts created&#32;<em>before ${eligible_date_str}</em>&#32;are eligible to vote for charities.
      </p>
      <p>
        you can still participate by &#32;<a href="/r/redditdonate">joining
        the discussion on reddit!</a>
      </p>
    %endif

    <div class="background-snoos-graphic"></div>
    <div id="reddit-donate-counter">
      ## react mount point for nomination counter
    </div>
    <div class="foreground-snoos-graphic"></div>
  </div>
</header>

<div class="reddit-donate-body">
  <div id="reddit-donate-search">
    ## react mount point for search input
  </div>
  <div id="reddit-donate-display">
    ## react mount point for search results
  </div>
</div>

<footer class="reddit-donate-footer md-container">
  <div class="reddit-donate-blurbs md">
    <div class="reddit-donate-blurb">
      <img src=${static('donate_blurb_1.png')} />
      <p>reddit will be giving away 10% of our 2014 ad revenue.</p>
    </div>
    <div class="reddit-donate-blurb">
      <img src=${static('donate_blurb_2.png')} />
      <p>10 charities the community votes on will be given&#32;<strong>$82,765.95</strong>.</p>
    </div>
    <div class="reddit-donate-blurb">
      <img src=${static('donate_blurb_3.png')} />
      <p>you can vote once per charity, but vote for as many charities as you wish.</p>
    </div>
    <div class="reddit-donate-blurb">
      <img src=${static('donate_blurb_4.png')} />
      <p>voting ends&#32;<strong>Wed. February 25, 2015</strong>. we'll announce winners within 24 hours.</p>
    </div>
  </div>
  <div class="footer-content md">
    <p>in partnership with
      &#32;<a href="http://www.charitynavigator.org/" target="_blank">Charity Navigator</a>.
    </p>
    <p>can’t find your favorite charity?
      &#32;<a href="/r/redditdonate/wiki/index#wiki_why_do_i_have_to_search_by_ein.2Ftax_id_for_some_non-profits.3F">find out why</a>
    </p>
  </div>
</footer>
